* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: white;
    padding-top: 70px;
    background-color: #070942;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--paddings);
}

:root {
    --primary-bg: #0a0d19;
    --btn-bg: #197D36;
    --secondary-bg: #a49cd66c;
    --third-bg: #0D1117;
    --paddings: 20px;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    height: 70px;
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    transition: background-color 0.4s ease-in-out;
    background-color: #070942;
    align-items: center;
    padding: var(--paddings);
    justify-content: space-between;
}

.nav img {
    filter: invert(1);
    width: 35px;
}

.nav a {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}
#nickname {
    color: white;
    font-size: 14px;
}
.nav a:active {
    filter: invert(1);
    background-color: black;
}
.primary-section {
    text-align: center;
    background: linear-gradient(#070942, #2B2776, #4C43A3);
    gap: 23px;
    width: 100%;
}

.primary-section h1 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary-section p {
    font-size: 18px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.primary-section form {
    background-color: white;
    max-width: 600px;
    gap: 10px;
    margin: 0 auto;
    padding: 15px 40px;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-main {
    border: 0;
    border-bottom: 1px solid gray;
    transition: 0.5s ease-in-out;
    padding: 10px;
}

.email-main:focus {
    outline: 1px solid blue;
    border-radius: 10px;
}

.email-main::placeholder {
    transition: 0.5s ease-in-out;
    font-size: 14px;
}

.email-main:focus::placeholder {
    transform: translateX(10px);
}

.submit {
    background-color: var(--btn-bg);
    padding: 10px;
    width: 100%;
    font-size: 15px;
    color: white;
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}

.primary-section a {
    color: white;
    font-size: 14px;
    border: 1.5px solid white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.primary-section a:active {
    filter: invert(1);
    background-color: black;
}

.secondary-section {
    text-align: center;
    gap: 25px;
    background-color: #0D1117;
}

.video-primary {
    display: block;
}

.video-primary,
.photo-plan,
.video-secondary {
    width: 100%;
    border: 1px solid rgba(0, 208, 255, 0.256);
    background-color: var(--secondary-bg);
    border-radius: 30px;
    animation: video-block 0.5s ease-in-out forwards;
    padding: 10px;
}

.photo-plan,
.video-secondary {
    display: none;
}

.text-section-secondary {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    color: rgb(191, 191, 191);
}

.secondary-section div {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff6e;
    padding: 5px 20px;
    border-radius: 30px;
    transition: 0.4s ease-in-out;
    justify-content: center;
    gap: 20px;
}

.secondary-section div p {
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.text-primary {
    background-color: #ffffff1d;
    border: 1px solid white;
    padding: 10px 40px;
    border-radius: 30px;
}

.fourth-section {
    text-align: center;
    background-color: var(--third-bg);
}

.fourth-section img {
    width: 65px;
}

@keyframes video-block {
    from {
        opacity: 0;
        transform: translateY(90px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.third-section {
    gap: 20px;
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    text-align: center;
    perspective: 500px;
}

.third-section img {
    width: 20%;
    max-width: 100px;
}

.third-section p {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.third-section video {
    width: 95%;
    cursor: pointer;
    box-shadow: 2px 2px 5px #0000004d;
    transition: transform 0.6s ease-in-out;
    border-radius: 10px;
}

.cards-section {
    justify-content: space-around;

    gap: 30px;
    background-color: var(--third-bg);
}

.duolingo-card,
.card-text-div,
.gartnet-card {
    display: flex;
    color: #c6c6c6;
    align-items: self-start;
    justify-content: center;
    padding: 30px;
    gap: 20px;
    flex-direction: column;
}

.cards-section a {
    color: #00b7ff;
    font-size: 17px;
}

.cards-section span {
    color: white;
}

.card-text-div h1 {
    font-size: 25px;
}

.card-text-div {
    width: 100%;
}

.duolingo-card,
.gartnet-card {
    border: 1px solid #8080808e;
    border-radius: 5px;
}

.fifth-section {
    border: 1px solid #ffffff5e;
    border-radius: 10px;
    background: linear-gradient(to bottom, #10151d, #041b28, #040628);
    text-align: left;
    flex-direction: column;
    gap: 20px;
    color: #cbcbcb;
}

.fifth-section span {
    color: white;
}

.fifth-section div {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.fifth-section img {
    width: 100%;
    border-radius: 10px;
}

.fifth-section h1 {
    font-size: 18px;
}

.fifth-section a {
    color: #00b7ff;
    font-size: 15px;
}

.end-section {
    text-align: center;
    background-color: var(--third-bg);
    gap: 10px;
}

.end-section img {
    width: 90%;
}

footer section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 15vh;
    text-align: center;
    background-color: var(--primary-bg);
    color: white;
}

@media (min-width:1024px) {
    .end-section img {
        width: 50%;
    }

    .end-section p {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .fifth-section {
        justify-content: space-around;
        text-align: left;
        flex-direction: row;
        gap: 30px;
        color: #cbcbcb;
    }

    .fifth-section span {
        color: white;
    }

    .fifth-section div {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .fifth-section img {
        width: 50%;
    }

    .fifth-section h1 {
        font-size: 30px;
    }

    .fifth-section a {
        font-size: 17px;
    }

    .cards-section {
        flex-direction: row;
    }

    .fourth-section h1 {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        font-size: 45px;
    }

    .fourth-section p {
        width: 100%;
        max-width: 350px;
        font-size: 18px;
        margin: 0 auto;
    }

    .card-text-div {
        width: 75%;
    }

    .email-main {
        border-bottom: none;
    }

    .primary-section h1 {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        font-size: 50px;
    }

    .third-section p {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .third-section video {
        width: 35%;
    }

    .primary-section p {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        font-size: 18px;
    }

    .primary-section form {
        flex-direction: row;
        padding: 5px 40px;
    }
}

@media (min-width:768px) {
    .end-section img {
        width: 70%;
    }

    .fifth-section {
        justify-content: space-around;
        text-align: left;
        flex-direction: row;
        gap: 30px;
        color: #cbcbcb;
    }

    .fifth-section span {
        color: white;
    }

    .fifth-section div {
        display: flex;
        gap: 15px;
        flex-direction: column;
    }

    .fifth-section img {
        width: 50%;
        border-radius: 10px;
    }

    .primary-section video {
        padding: 20px;
    }

    .fourth-section h1 {
        width: 100%;
        max-width: 550px;
        margin: 0 auto;
        font-size: 45px;
    }

    .fourth-section p {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
        font-size: 18px;
    }

    .card-text-div {
        width: 75%;
    }

    .third-section video {
        width: 45%;
    }

    .primary-section form {
        flex-direction: row;
        padding: 5px 40px;
    }

    .email {
        border-bottom: none;
    }

    .third-section p {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    .cards-section {
        flex-direction: row;
    }
}